$green: hsl(103, 55%, 55%);
$green-d: hsl(103, 55%, 35%);
$green-l: hsl(103, 55%, 70%);
$blue: #4482d4;
$red: #ce3a35;
$black: #1b1b1b;
$white: #f1f1f1;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$font-main: 'Roboto', sans-serif;
$font-code: 'Open Sans', sans-serif;