$green: hsl(130, 55%, 55%);
$green-d: hsl(130, 55%, 35%);
$green-l: hsl(130, 55%, 70%);
$blue: hsl(214, 63%, 55%);
$blue-d: hsl(214, 63%, 35%);
$blue-l: hsl(214, 63%, 70%);
$red: hsl(2, 61%, 50%);
$red-d: hsl(2, 61%, 30%);
$red-l: hsl(2, 61%, 65%);
$black: hsl(0, 0%, 15%);
$white: hsl(0, 0%, 90%);
$gray: hsl(0, 0%, 50%);
$gray-d: hsl(0, 0%, 30%);
$gray-l: hsl(0, 0%, 80%);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$font-main: 'Roboto', sans-serif;
$font-code: 'Open Sans', sans-serif;

$desktop-width: 1024px;

@mixin for-desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}